// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'header';
@import 'video';
.block {
    margin: 40px 0 40px;
}

.chunk {
    max-width: 900px;
}
.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-dark {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.red {
    color: red;
}
.white {
    color: white;
}
.bg-black {
    background-color: black;
}
.bg-blue {
    background-color: blue;
}
.bg-grey {
    background-color: #fff;
}
